* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: #24252a;
}

header {
	display: flex;
	/* justify-content: space-between; */
	justify-content: flex-end;
	align-items: center;
	padding: 30px 10%;
}

.logo {
	width: 5%;
	height: 1%;
	cursor: pointer;
	/* margin-right: auto; */
	margin-left: auto;

	order: 3;
}

li,
a,
button {
	font-family: 'Courier New', Courier, monospace;
	font-weight: 500;
	font-size: 16px;
	color: white;
	text-decoration: none;
}

nav {
	order: 1;
}

.nav__links {
	list-style: none;
}

.nav__links li {
	display: inline-block;
	padding: 0px 20px;
}

.nav__links li a {
	transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
	color: #0088a9;
}

.cta {
	order: 2;
	margin-right: auto;
}

button {
	margin-left: 20px;
	padding: 9px 25px;
	background: rgba(0, 136, 169, 1);
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}

button:hover {
	background: rgba(0, 136, 169, 0.8);
}
